{% extends 'default/index.html.twig' %}
{% block content %}
    <script type="text/x-template" id="form-template">
        {{ form_start(form) }}
        <my-header>
            <h2 id="some-slot">konina</h2>
        </my-header>
        {{ form_row(form.username) }}
        <my-email>
            {{ form_label(form.email) }}
            <template #email>{{ form_widget(form.email) }}</template>
        </my-email>
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit" class="submit-btn">Register!</button>
        {{ form_end(form) }}
    </script>
{% endblock %}